<li class="list-group-item container-fluid{% if class is defined %} {{ class }}{% endif %}">
    <div class="row">
        <div class="col-7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% if type is defined and type == 'forum' %}<i class="far fa-envelope"></i> <a href="{{ url('category', {'slug': category.getSlug}) }}">{% endif %}
                        {{ category.getName }}
                        {% if type is defined and type == 'forum' %}</a>{% endif %}
                    </div>
                </div>
                {% if category.getDescription is not empty %}
                <div class="row">
                    <div class="col">
                        <span class="text-muted">{{ category.getDescription }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% if type is defined and type == 'forum' %}
            <div class="col">
                {{ conversationsCount }} <i class="far fa-envelope"></i>
            </div>
            <div class="col">
                //
            </div>
            <div class="col">
                //
            </div>
        {% endif %}
    </div>

    {% if type is defined and type == 'forum' %}
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            {% for forum in category.getChildren %}
                                <i class="far fa-envelope-open"></i> <a href="{{ url('category', {'slug': forum.getSlug}) }}">{{ forum.getName }}</a>{% if not loop.last %} -{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</li>