{% set class = '' %}
{% set isForum = row.subtype is defined and row.subtype == 'forum' %}
{% if row.subtype is defined and row.subtype == 'group' %}
    {% set class = ' list-group-item-warning' %}
{% endif %}

<li class="list-group-item container-fluid{{ class }}">
    <div class="row">
        <div class="col-7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% if isForum %}<i class="far fa-envelope"></i> <a href="{{ row.link }}">{% endif %}
                        {{ row.name }}
                        {% if isForum %}</a>{% endif %}
                    </div>
                </div>
                {% if row.preview is not empty %}
                    <div class="row">
                        <div class="col">
                            <span class="text-muted">{{ row.preview }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if isForum %}
            {% for detail in row.details %}
                <div class="col">
                    {{ detail|raw }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if isForum %}
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            {% for link in row.additionalLinks %}
                                {{ link|raw }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</li>